<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="Test.SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=(local); Initial Catalog=Infrastructure; Integrated Security=true; Connection Timeout=5;"/>
  </connectionStrings>

  <system.diagnostics>
    <switches>
      <add name="LogManager.Test" value="Verbose"/>
    </switches>
    <sources>
      <source name="LogManager.Test">
        <listeners>
          <clear />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>