<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Test.SqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=(local); Initial Catalog=Infrastructure; Integrated Security=true; Connection Timeout=2;"/>
    </connectionStrings>
</configuration>