<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="eventStore" connectionString="Data Source=(local); Initial Catalog=Infrastructure; Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <clear />
        <add name="HarvesterListener"
             type="Harvester.Integration.Diagnostics.HarvesterListener, Harvester.Integration.TraceListener, Version=2.0.0.0, Culture=neutral, PublicKeyToken=2335e074c59acad6"
             initializeData="Binding=\\.\pipe\Harvester; Buffer Type=NamedPipeBuffer; Mutex Name=HarvesterMutex;"/>
      </listeners>
    </trace>
    <switches>
      <add name="default" value="Warning" />
    </switches>
  </system.diagnostics>
</configuration>